.contact-us {
    --paddingTopSectionContactUs: 250px;

    padding-top: var(--paddingTopSectionContactUs);

    @include tablet {
        --paddingTopSectionContactUs: 145px;
    }

    @include mobile {
        --paddingTopSectionContactUs: 100px;
    }

    @include mobile-m {
        text-align: center;
    }

    @include mobile-s {
        --paddingTopSectionContactUs: 72px;
    }

    &__image {
        @include tablet {
            max-width: 35%;
            height: auto;
        }

        @include mobile-m {
            order: 1;
            max-width: 75%;
            margin-bottom: 34px;
        }
    }

    &__body {
        --columnGapContactUsBody: 20px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: var(--columnGapContactUsBody);

        @include tablet {
            --columnGapContactUsBody: 90px;
        }

        @include mobile {
            --columnGapContactUsBody: 35px;
        }

        @include mobile-m {
            flex-direction: column;
        }        
    }

    &__inner {
        display: flex;
        flex-direction: column;
        row-gap: 50px;

        @include mobile-m {
            display: contents;
        }
    }

    &__header {
        max-width: 752px;

        @include mobile-m {
            display: contents; 
        }
    }

    &__title {
        --marginBottomContactUsTitle: 37px;

        line-height: 1.67;
        color: var(--color-dark);

        &:not(:last-child) {
            margin-bottom: var(--marginBottomContactUsTitle);

            @include mobile-m {
                --marginBottomContactUsTitle: 83px;
            }

            @include mobile-s {
                --marginBottomContactUsTitle: 38px;
            }
        }
    }

    &__description {
        --marginBottomContactUsDescription: 60px;

        @include mobile-m {
            order: 1;
            margin-bottom: var(--marginBottomContactUsDescription);
        }

        @include mobile-s {
            --marginBottomContactUsDescription: 31px;
        }
    }
}