.header {
    padding-top: 55px;

    @include mobile {
        padding-top: 40px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
    }

    &__logo {
        @include tablet {
            width: 89px;
        }

        @include mobile-s {
            width: 71px;
        }
    }

    &__menu {
        font-weight: 500;

        &-list {
            display: flex;
            align-items: center;
            column-gap: 40px;

            @include tablet {
                column-gap: 30px;
                font-size: 16px;
            }
        }

        &-link {
            position: relative;
            display: inline-flex;
            align-items: center;
            height: 48px;

            @include hover {
                &::after {
                    width: 100%;
                }
            }

            &::after {
                content: '';
                position: absolute;
                top: 100%;
                left: 50%;
                translate: -50%;
                width: 0;
                height: 2px;
                background-color: currentColor;
                transition-duration: inherit;
            }
        }
    }
}