.hero {
    padding-block: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;

    @include tablet {
        padding-top: 65px;
    }

    @include mobile {
        padding-block: 70px;
    }
    
    @include mobile-m {
        flex-direction: column;
        padding-top: 11px;
    }

    &__body {
        @include mobile-m {
            display: contents;
        }
    }
    
    &__header {
        margin-bottom: 60px;

        @include tablet {
            margin-bottom: 33px;
        }

        @include mobile-m {
            margin-bottom: 37px;
        }
    }

    &__title {
        position: relative;
        max-width: 386px;
        color: var(--color-dark);

        &:not(:last-child) {
            margin-bottom: 40px;

            @include tablet {
                margin-bottom: 27px;
                font-size: 48px;
            }

            @include mobile {
                font-size: 36px;
            }

            @include mobile-m {
                max-width: 491px;
                font-size: 34px;
                text-align: center;
            }

            @include mobile-s {
                margin-bottom: 20px;
            }
        }

        &::after {
            position: absolute;
            top: 1.7em;
            left: 7em;
            content: '';
            display: block;
            width: 85px;
            aspect-ratio: 1;
            background: url('../icons/hero-lamp.svg') center no-repeat;

            @include tablet {
                left: 6.5em;
                width: 58px;
                background-size: 150%;
            }

            @include mobile {
                top: 2.2em;
                width: 50px;
            }

            @include mobile-m {
                display: none;
            }
        }
    }

    &__description {
        max-width: 525px;
        font-size: 24px;

        @include tablet {
            max-width: 420px;
            font-size: 20px;
        }

        @include mobile {
            max-width: 338px;
            font-size: 16px;
        }

        @include mobile-m {
            max-width: 496px;
            text-align: center;
        }

        @include mobile-s {
            font-size: 14px;
        }
    }

    &__button {
        @include tablet {
            height: 80px;
            padding-inline: 78px;
            border-radius: var(--border-radius-small);
            font-size: 24px;
        }

        @include mobile {
            height: 65px;
            padding-inline: 67px;
            font-size: 18px;
        }

        @include mobile-m {
            padding-inline: 101px;
            height: 75px;
        }

        @include mobile-s {
            height: 60px;
            font-size: 16px;
            white-space: nowrap;
        }
    }

    &__image {
        @include tablet {
            max-width: 40%;
            height: auto;
        }

        @include mobile {
            max-width: 45%;
        }

        @include mobile-m {
            order: -1;
            max-width: 82%;
            margin-bottom: 17px;
        }
    }
}