.skills-card {
    display: flex;
    flex-direction: column;
    padding: 22px;

    @include mobile {
        padding: 10px;
    }

    @include mobile-m {
        padding: 0;
    }

    @include mobile-s {
        align-items: center;
    }

    &--reverse {
        flex-direction: row;
        align-items: center;
        column-gap: 102px;

        @include tablet {
            column-gap: 20px;
        }

        @include mobile {
            column-gap: 0;
        }

        @include mobile-m {
            flex-direction: column;
        }

        &-image {
            order: 1;

            @include desktop {
                max-width: 40%;
            }

            @include mobile-m {
                order: 0;
                max-width: 100%;
                width: 206px;
                height: 137px;
                margin-bottom: 45px;
            }
        }
    }

    &__image {
        height: auto;

        @include mobile-s {
            margin-bottom: 10px;
        }
    }

    &__header {
        padding-inline: 20px;

        @include tablet {
            padding-inline: 0;
        }

        @include mobile-m {
            padding: 0 25px 36px 15px;
        }
    }

    &__title {
        color: var(--color-dark);
        line-height: 2.67;

        @include tablet {
            font-size: 20px;
        }

        @include mobile-m {
            font-size: 18px;
        }
    }

    &__description {
        @include mobile {
            font-size: 13px;
        }

        @include mobile-m {
            font-size: 12px;
        }

        &:not(:last-child) {
            margin-bottom: 35px;

            @include mobile {
                margin-bottom: 13px;
            }

            @include mobile-s {
                margin-bottom: 33px;
            }
        }
    }

    &__button {
        width: 218px;
        height: 60px;
        border-radius: var(--border-radius-small);
        font-size: 20px;
        padding-inline: 51px;
        white-space: nowrap;
        justify-content: center;

        @include tablet {
            width: 196px;
            height: 57px;
        }

        @include mobile {
            width: 178px;
            height: 50px;
            font-size: 16px;
        }

        @include mobile-m {

        }
    }
}