@charset "UTF-8";
html,
:has(:target) {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

input,
textarea,
select,
button {
  font: inherit;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

/** Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-dark-alt: #263238;
  --color-gray: #8F95A5;
  --color-bg: #F5F5F5;
  --color-bg-alt: #EEEEEE;
  --border: 2px solid var(--color-dark-alt);
  --border-radius-small: 5px;
  --border-radius: 10px;
  --border-radius-large: 15px;
  --font-family-base: "Poppins", sans-serif;
  --container-width: 1350px;
  --container-padding-x: 20px;
  --input-height: 80px;
  --transition-duration: 0.2s;
}

body {
  font-size: clamp(14px, 1.25vw, 20px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-gray);
  background-color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: var(--color-dark-alt);
}

h1, h2, h3 {
  font-weight: 600;
}

h1, .h1 {
  font-size: clamp(24px, 4vw, 64px);
}

h2, .h2 {
  font-size: clamp(24px, 3vw, 48px);
}

h3, .h3 {
  font-size: clamp(18px, 1.875vw, 30px);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}/*# sourceMappingURL=styles.css.map */