@charset "UTF-8";
html,
:has(:target) {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:where(ul, ol):where([class]) {
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
}

:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

:where(ul[class]) {
  list-style: none;
}

p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

input,
textarea,
select,
button {
  font: inherit;
}

svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

svg * {
  transition-property: fill, stroke;
}

/** Удаляем все анимации и переходы для людей, которые предпочитают их не использовать */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-Medium.woff2) format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url(../fonts/Poppins-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #ffffff;
  --color-dark: #000000;
  --color-dark-alt: #263238;
  --color-gray: #8F95A5;
  --color-gray-alt: #C4C4C4;
  --color-bg: #F5F5F5;
  --color-bg-alt: #EEEEEE;
  --color-burger-button: #39515E;
  --color-price: #546269;
  --border: 2px solid var(--color-dark-alt);
  --border-input: 1px solid var(--color-gray);
  --border-radius-small: 5px;
  --border-radius: 10px;
  --border-radius-large: 15px;
  --font-family-base: "Poppins", sans-serif;
  --container-width: 1350px;
  --container-padding-x: 30px;
  --input-height: 80px;
  --transition-duration: 0.2s;
}

body {
  font-size: clamp(14px, 1.25vw, 20px);
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
  color: var(--color-gray);
  background-color: var(--color-light);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: var(--color-dark-alt);
}

h1, h2, h3 {
  font-weight: 600;
}

h1, .h1 {
  font-size: clamp(24px, 4vw, 64px);
}

h2, .h2 {
  font-size: clamp(24px, 3vw, 48px);
}

h3, .h3 {
  font-size: clamp(18px, 1.875vw, 30px);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}
@media (max-width: 480px) {
  .container {
    --containerPaddingMobileS: 15px;
    padding-inline: var(--containerPaddingMobileS);
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

.button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 118px;
  padding-inline: 117px;
  font-size: 36px;
  font-weight: 400;
  color: var(--color-light);
  background-color: var(--color-dark-alt);
  border: var(--border);
  border-radius: var(--border-radius-large);
}
@media (hover: hover) {
  .button:hover {
    color: var(--color-dark);
    background-color: var(--color-gray);
  }
}
@media (hover: none) {
  .button:active {
    color: var(--color-dark);
    background-color: var(--color-gray);
  }
}
.button--transparent {
  background-color: transparent;
  color: var(--color-dark);
  height: 70px;
  padding-inline: 57px;
  border-radius: var(--border-radius-small);
  font-size: 24px;
}
@media (max-width: 1023px) {
  .button--transparent {
    padding-inline: 40px;
    font-size: 18px;
  }
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  color: var(--color-burger-button);
  position: relative;
  border-radius: var(--border-radius-small);
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-gray);
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: var(--color-gray);
  }
}
.burger-button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 3px;
  background-color: currentColor;
  border-radius: var(--border-radius-small);
  box-shadow: 0 -8px;
}
@media (max-width: 575px) {
  .burger-button::before {
    width: 90%;
    height: 4px;
  }
}
@media (max-width: 480px) {
  .burger-button::before {
    width: 55%;
    height: 3px;
  }
}
.burger-button::after {
  position: absolute;
  top: 48%;
  left: 25%;
  content: "";
  width: 35%;
  height: 3px;
  border-radius: var(--border-radius-small);
  box-shadow: 0 8px;
}
@media (max-width: 575px) {
  .burger-button::after {
    top: 46%;
    left: 5%;
    width: 60%;
    height: 4px;
  }
}
@media (max-width: 480px) {
  .burger-button::after {
    left: 23%;
    width: 35%;
    height: 3px;
  }
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 48px;
  aspect-ratio: 1;
  outline: none;
  position: relative;
}
.cross-button::before, .cross-button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 7px;
  width: 70%;
  height: 2px;
  background-color: var(--color-burger-button);
  border-radius: var(--border-radius-small);
}
.cross-button::before {
  rotate: 45deg;
}
.cross-button::after {
  rotate: -45deg;
}

.header {
  padding-top: 55px;
}
@media (max-width: 767px) {
  .header {
    padding-top: 40px;
  }
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 1023px) {
  .header__logo {
    width: 89px;
  }
}
@media (max-width: 480px) {
  .header__logo {
    width: 71px;
  }
}
.header__menu {
  font-weight: 500;
}
.header__menu-list {
  display: flex;
  align-items: center;
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 1023px) {
  .header__menu-list {
    -moz-column-gap: 30px;
         column-gap: 30px;
    font-size: 16px;
  }
}
.header__menu-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 48px;
}
@media (hover: hover) {
  .header__menu-link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__menu-link:active::after {
    width: 100%;
  }
}
.header__menu-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  translate: -50%;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition-duration: inherit;
}

.mobile-overlay {
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: end;
}
@media (max-width: 767px) {
  .mobile-overlay__close-button-wrapper {
    padding: 22px 0;
  }
}
.mobile-overlay__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 30px;
  text-transform: uppercase;
  height: 80vh;
}

.hero {
  padding-block: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
@media (max-width: 1023px) {
  .hero {
    padding-top: 65px;
  }
}
@media (max-width: 767px) {
  .hero {
    padding-block: 70px;
  }
}
@media (max-width: 575px) {
  .hero {
    flex-direction: column;
    padding-top: 11px;
  }
}
@media (max-width: 575px) {
  .hero__body {
    display: contents;
  }
}
.hero__header {
  margin-bottom: 60px;
}
@media (max-width: 1023px) {
  .hero__header {
    margin-bottom: 33px;
  }
}
@media (max-width: 575px) {
  .hero__header {
    margin-bottom: 37px;
  }
}
.hero__title {
  position: relative;
  max-width: 386px;
  color: var(--color-dark);
}
.hero__title:not(:last-child) {
  margin-bottom: 40px;
}
@media (max-width: 1023px) {
  .hero__title:not(:last-child) {
    margin-bottom: 27px;
    font-size: 48px;
  }
}
@media (max-width: 767px) {
  .hero__title:not(:last-child) {
    font-size: 36px;
  }
}
@media (max-width: 575px) {
  .hero__title:not(:last-child) {
    max-width: 491px;
    font-size: 34px;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .hero__title:not(:last-child) {
    margin-bottom: 20px;
  }
}
.hero__title::after {
  position: absolute;
  top: 1.7em;
  left: 7em;
  content: "";
  display: block;
  width: 85px;
  aspect-ratio: 1;
  background: url("../icons/hero-lamp.svg") center no-repeat;
}
@media (max-width: 1023px) {
  .hero__title::after {
    left: 6.5em;
    width: 58px;
    background-size: 150%;
  }
}
@media (max-width: 767px) {
  .hero__title::after {
    top: 2.2em;
    width: 50px;
  }
}
@media (max-width: 575px) {
  .hero__title::after {
    display: none;
  }
}
.hero__description {
  max-width: 525px;
  font-size: 24px;
}
@media (max-width: 1023px) {
  .hero__description {
    max-width: 420px;
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .hero__description {
    max-width: 338px;
    font-size: 16px;
  }
}
@media (max-width: 575px) {
  .hero__description {
    max-width: 496px;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .hero__description {
    font-size: 14px;
  }
}
@media (max-width: 1023px) {
  .hero__button {
    height: 80px;
    padding-inline: 78px;
    border-radius: var(--border-radius-small);
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .hero__button {
    height: 65px;
    padding-inline: 67px;
    font-size: 18px;
  }
}
@media (max-width: 575px) {
  .hero__button {
    padding-inline: 101px;
    height: 75px;
  }
}
@media (max-width: 480px) {
  .hero__button {
    height: 60px;
    font-size: 16px;
    white-space: nowrap;
  }
}
@media (max-width: 1023px) {
  .hero__image {
    max-width: 40%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .hero__image {
    max-width: 45%;
  }
}
@media (max-width: 575px) {
  .hero__image {
    order: -1;
    max-width: 82%;
    margin-bottom: 17px;
  }
}

.skills__header {
  --paddingBottomSkillsHeader: 92px;
  padding-bottom: var(--paddingBottomSkillsHeader);
}
@media (max-width: 1023px) {
  .skills__header {
    --paddingBottomSkillsHeader: 58px;
  }
}
@media (max-width: 767px) {
  .skills__header {
    --paddingBottomSkillsHeader: 37px;
  }
}
.skills__title {
  color: var(--color-dark);
  line-height: 1.67;
  text-align: center;
}
.skills__body-item {
  background-color: var(--color-bg);
  border-radius: var(--border-radius);
}
@media (max-width: 575px) {
  .skills__body-item:nth-child(1) .skills-card {
    padding-top: 0;
  }
}
@media (max-width: 575px) {
  .skills__body-item:nth-child(1) .skills-card__image {
    width: 185px;
    aspect-ratio: 1;
  }
}
.skills__body-item:nth-child(2) .skills-card {
  align-items: end;
  padding-top: 0;
}
@media (max-width: 575px) {
  .skills__body-item:nth-child(2) .skills-card__image {
    --marginBottomSkillsCardImage: 27px;
    margin-bottom: var(--marginBottomSkillsCardImage);
    width: 185px;
    aspect-ratio: 1;
    align-self: start;
  }
}
@media (max-width: 575px) and (max-width: 480px) {
  .skills__body-item:nth-child(2) .skills-card__image {
    --marginBottomSkillsCardImage: 50px;
    align-self: center;
  }
}
.skills__body-item:nth-child(2) .skills-card__header {
  margin-top: -27px;
}
.skills__body-item:nth-child(3) .skills-card {
  padding: 0;
}
.skills__body-item:nth-child(3) .skills-card__header {
  padding: 39px 17px 0 43px;
}
@media (max-width: 1023px) {
  .skills__body-item:nth-child(3) .skills-card__header {
    padding-top: 19px;
  }
}
@media (max-width: 767px) {
  .skills__body-item:nth-child(3) .skills-card__header {
    padding: 15px 17px 0 18px;
  }
}
.skills__body-item:nth-child(4) .skills-card__description {
  max-width: 328px;
}
.skills__body-item:nth-child(4) .skills-card__description {
  margin-bottom: 25px;
}
@media (max-width: 575px) {
  .skills__body-item {
    height: 534px;
  }
  .skills__body-item:nth-child(2) .skills-card__description {
    --marginBottomSkillsCardDescription: 143px;
    margin-bottom: var(--marginBottomSkillsCardDescription);
  }
  .skills__body-item:nth-child(1n+3) .skills-card {
    padding-top: 35px;
  }
}
@media (max-width: 575px) and (max-width: 480px) {
  .skills__body-item:nth-child(1n+3) .skills-card {
    padding-top: 10px;
  }
}
@media (max-width: 575px) {
  .skills__body-item:nth-child(1n+3) .skills-card__description {
    --marginBottomSkillsCardDescription: 126px;
    margin-bottom: var(--marginBottomSkillsCardDescription);
  }
}
@media (max-width: 480px) {
  .skills__body-item:nth-child(1n+2) {
    height: 473px;
  }
  .skills__body-item:nth-child(n) .skills-card__description {
    --marginBottomSkillsCardDescription: 33px;
  }
}

.skills-card {
  --paddingSkillsCard: 22px;
  display: flex;
  flex-direction: column;
  padding: var(--paddingSkillsCard);
}
@media (max-width: 767px) {
  .skills-card {
    --paddingSkillsCard: 10px;
  }
}
@media (max-width: 575px) {
  .skills-card {
    --paddingSkillsCard: 0;
  }
}
@media (max-width: 480px) {
  .skills-card {
    align-items: center;
  }
}
.skills-card--reverse {
  --columnGapReverseSkillsCard: 102px;
  flex-direction: row;
  align-items: center;
  -moz-column-gap: var(--columnGapReverseSkillsCard);
       column-gap: var(--columnGapReverseSkillsCard);
}
@media (max-width: 1023px) {
  .skills-card--reverse {
    --columnGapReverseSkillsCard: 20px;
  }
}
@media (max-width: 767px) {
  .skills-card--reverse {
    --columnGapReverseSkillsCard: 0;
  }
}
@media (max-width: 575px) {
  .skills-card--reverse {
    flex-direction: column;
  }
}
.skills-card--reverse-image {
  order: 1;
}
@media (max-width: 1280px) {
  .skills-card--reverse-image {
    max-width: 40%;
  }
}
@media (max-width: 575px) {
  .skills-card--reverse-image {
    order: 0;
    max-width: 100%;
    width: 206px;
    height: 137px;
    margin-bottom: 45px;
  }
}
.skills-card__image {
  height: auto;
}
@media (max-width: 480px) {
  .skills-card__image {
    margin-bottom: 10px;
  }
}
.skills-card__header {
  padding-inline: 20px;
}
@media (max-width: 1023px) {
  .skills-card__header {
    padding-inline: 0;
  }
}
@media (max-width: 575px) {
  .skills-card__header {
    padding: 0 25px 36px 15px;
  }
}
@media (max-width: 480px) {
  .skills-card__header--reverse {
    align-self: start;
  }
}
.skills-card__title {
  --fontSizeTitle: 20px;
  color: var(--color-dark);
  line-height: 2.67;
}
@media (max-width: 1023px) {
  .skills-card__title {
    font-size: var(--fontSizeTitle);
  }
}
@media (max-width: 575px) {
  .skills-card__title {
    --fontSizeTitle: 18px;
  }
}
.skills-card__description {
  --fotnSizeDescription: 13px;
  --marginBottomDescription: 35px;
}
@media (max-width: 767px) {
  .skills-card__description {
    font-size: var(--fotnSizeDescription);
  }
}
@media (max-width: 575px) {
  .skills-card__description {
    --fotnSizeDescription: 12px;
  }
}
.skills-card__description:not(:last-child) {
  margin-bottom: var(--marginBottomDescription);
}
@media (max-width: 767px) {
  .skills-card__description:not(:last-child) {
    --marginBottomDescription: 13px;
  }
}
@media (max-width: 480px) {
  .skills-card__description:not(:last-child) {
    --marginBottomDescription: 33px;
  }
}
.skills-card__button {
  width: 218px;
  height: 60px;
  border-radius: var(--border-radius-small);
  font-size: 20px;
  padding-inline: 51px;
  white-space: nowrap;
  justify-content: center;
}
@media (max-width: 1023px) {
  .skills-card__button {
    width: 196px;
    height: 57px;
  }
}
@media (max-width: 767px) {
  .skills-card__button {
    width: 178px;
    height: 50px;
    font-size: 16px;
  }
}

.skills-grid {
  --gapGridSkills: 20px;
  display: grid;
  gap: var(--gapGridSkills);
  grid-template-areas: "one two three" "one four four";
}
@media (max-width: 1023px) {
  .skills-grid {
    --gapGridSkills: 13px;
  }
}
@media (max-width: 767px) {
  .skills-grid {
    --gapGridSkills: 10px;
  }
}
@media (max-width: 575px) {
  .skills-grid {
    grid-template-areas: "one two" "three four";
  }
}
@media (max-width: 480px) {
  .skills-grid {
    grid-template-areas: "one" "two" "three" "four";
  }
}
.skills-grid--speaking {
  grid-area: one;
}
.skills-grid--writing {
  grid-area: two;
}
.skills-grid--reading {
  grid-area: three;
}
.skills-grid--listening {
  grid-area: four;
}

.about {
  --sectionAboutMarginBottom: 52px;
  padding-top: 200px;
}
@media (max-width: 575px) {
  .about {
    padding-top: 84px;
  }
}
.about__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
@media (max-width: 575px) {
  .about__body {
    flex-direction: column;
  }
}
.about__header {
  display: flex;
  flex-direction: column;
  row-gap: 42px;
  max-width: 635px;
}
@media (max-width: 575px) {
  .about__header {
    display: contents;
  }
}
.about__title {
  color: var(--color-dark);
}
@media (max-width: 575px) {
  .about__title {
    order: -2;
  }
  .about__title:not(:last-child) {
    margin-bottom: var(--sectionAboutMarginBottom);
  }
}
@media (max-width: 575px) {
  .about__description {
    margin-bottom: var(--sectionAboutMarginBottom);
    text-align: center;
  }
}
@media (max-width: 480px) {
  .about__description {
    --sectionAboutMarginBottom: 32px;
  }
}
.about__numbers-list {
  display: flex;
  justify-content: space-between;
  text-align: center;
}
@media (max-width: 575px) {
  .about__numbers-list {
    -moz-column-gap: 78px;
         column-gap: 78px;
  }
}
@media (max-width: 480px) {
  .about__numbers-list {
    flex-direction: column;
    row-gap: 40px;
  }
}
.about__numbers-item p:nth-child(1) {
  color: var(--color-dark-alt);
  font-weight: 600;
  font-size: clamp(24px, 3vw, 48px);
}
@media (max-width: 575px) {
  .about__numbers-item p:nth-child(1):not(:last-child) {
    margin-bottom: 15px;
  }
}
@media (max-width: 1023px) {
  .about__image {
    max-width: 55%;
    height: auto;
  }
}
@media (max-width: 575px) {
  .about__image {
    order: -1;
    margin-bottom: 25px;
  }
}

.pricing {
  padding-top: 150px;
}
.pricing__header {
  --marginBottomPricingHeader: 57px;
  margin-bottom: var(--marginBottomPricingHeader);
}
@media (max-width: 767px) {
  .pricing__header {
    --marginBottomPricingHeader: 16px;
  }
}
@media (max-width: 480px) {
  .pricing__header {
    --marginBottomPricingHeader: 36px;
  }
}
.pricing__title {
  text-align: center;
  color: var(--color-dark);
}
@media (max-width: 480px) {
  .pricing__title {
    font-size: 24px;
  }
}
.pricing__body-list {
  display: flex;
  justify-content: space-between;
  align-items: start;
  -moz-column-gap: 58px;
       column-gap: 58px;
}
@media (max-width: 767px) {
  .pricing__body-list {
    align-items: end;
    -moz-column-gap: 20px;
         column-gap: 20px;
  }
}
@media (max-width: 575px) {
  .pricing__body-list {
    flex-direction: column;
    align-items: center;
    row-gap: 71px;
  }
}
.pricing__body-item:nth-child(1) .pricing-card__header {
  --marginBottomPricingCardHeader: 31px;
  max-width: 419px;
  margin-bottom: var(--marginBottomPricingCardHeader);
}
@media (max-width: 1023px) {
  .pricing__body-item:nth-child(1) .pricing-card__header {
    --marginBottomPricingCardHeader: 40px;
  }
}
.pricing__body-item:nth-child(2) img {
  margin-bottom: 73px;
}
@media (max-width: 575px) {
  .pricing__body-item:nth-child(2) img {
    margin-bottom: 21px;
  }
}
.pricing__body-item:nth-child(2) .pricing-card__header {
  max-width: 369px;
}
.pricing__body-item:nth-child(3) img {
  margin-bottom: 15px;
}
.pricing__body-item:nth-child(3) .pricing-card__header {
  max-width: 425px;
}

.pricing-card {
  display: flex;
  flex-direction: column;
}
.pricing-card__image {
  margin-inline: auto;
  margin-bottom: 47px;
}
@media (max-width: 767px) {
  .pricing-card__image {
    height: auto;
  }
}
.pricing-card__header {
  margin-bottom: 59px;
}
@media (max-width: 575px) {
  .pricing-card__header {
    text-align: center;
    margin-bottom: 31px;
  }
}
.pricing-card__title {
  line-height: 1.6;
  color: var(--color-dark-alt);
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .pricing-card__title {
    line-height: 1.4;
  }
}
@media (max-width: 575px) {
  .pricing-card__title {
    font-size: 24px;
    line-height: 1.17;
  }
}
@media (max-width: 480px) {
  .pricing-card__title {
    font-size: 18px;
    line-height: 1.56;
  }
}
@media (max-width: 480px) {
  .pricing-card__description {
    font-size: 13px;
  }
}

.pricing-card__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(14px, 1.125vw, 18px);
  align-self: start;
  -moz-column-gap: 8px;
       column-gap: 8px;
  height: 45px;
  padding-inline: 21px;
  border: none;
  color: var(--color-price);
  background-color: var(--color-bg-alt);
  border-radius: var(--border-radius-small);
  cursor: pointer;
}
@media (hover: hover) {
  .pricing-card__button:hover {
    background-color: var(--color-gray);
  }
}
@media (hover: none) {
  .pricing-card__button:active {
    background-color: var(--color-gray);
  }
}
@media (max-width: 575px) {
  .pricing-card__button {
    margin-inline: auto;
  }
}
.pricing-card__button span {
  font-size: clamp(18px, 1.875vw, 30px);
  color: var(--color-dark-alt);
}

.contact-us {
  --paddingTopSectionContactUs: 250px;
  padding-top: var(--paddingTopSectionContactUs);
}
@media (max-width: 1023px) {
  .contact-us {
    --paddingTopSectionContactUs: 145px;
  }
}
@media (max-width: 767px) {
  .contact-us {
    --paddingTopSectionContactUs: 100px;
  }
}
@media (max-width: 575px) {
  .contact-us {
    text-align: center;
  }
}
@media (max-width: 480px) {
  .contact-us {
    --paddingTopSectionContactUs: 72px;
  }
}
@media (max-width: 1023px) {
  .contact-us__image {
    max-width: 35%;
    height: auto;
  }
}
@media (max-width: 575px) {
  .contact-us__image {
    order: 1;
    max-width: 75%;
    margin-bottom: 34px;
  }
}
.contact-us__body {
  --columnGapContactUsBody: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: var(--columnGapContactUsBody);
       column-gap: var(--columnGapContactUsBody);
}
@media (max-width: 1023px) {
  .contact-us__body {
    --columnGapContactUsBody: 90px;
  }
}
@media (max-width: 767px) {
  .contact-us__body {
    --columnGapContactUsBody: 35px;
  }
}
@media (max-width: 575px) {
  .contact-us__body {
    flex-direction: column;
  }
}
.contact-us__inner {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
@media (max-width: 575px) {
  .contact-us__inner {
    display: contents;
  }
}
.contact-us__header {
  max-width: 752px;
}
@media (max-width: 575px) {
  .contact-us__header {
    display: contents;
  }
}
.contact-us__title {
  --marginBottomContactUsTitle: 37px;
  line-height: 1.67;
  color: var(--color-dark);
}
.contact-us__title:not(:last-child) {
  margin-bottom: var(--marginBottomContactUsTitle);
}
@media (max-width: 575px) {
  .contact-us__title:not(:last-child) {
    --marginBottomContactUsTitle: 83px;
  }
}
@media (max-width: 480px) {
  .contact-us__title:not(:last-child) {
    --marginBottomContactUsTitle: 38px;
  }
}
.contact-us__description {
  --marginBottomContactUsDescription: 60px;
}
@media (max-width: 575px) {
  .contact-us__description {
    order: 1;
    margin-bottom: var(--marginBottomContactUsDescription);
  }
}
@media (max-width: 480px) {
  .contact-us__description {
    --marginBottomContactUsDescription: 31px;
  }
}

.subscribe-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
}
@media (max-width: 575px) {
  .subscribe-form {
    order: 1;
    width: 512px;
  }
}
@media (max-width: 480px) {
  .subscribe-form {
    flex-direction: column;
    row-gap: 17px;
    width: 291px;
  }
}
.subscribe-form__input {
  height: var(--input-height);
  width: 100%;
  border: var(--border-input);
  border-radius: var(--border-radius);
  padding-inline: 33px;
}
@media (max-width: 1023px) {
  .subscribe-form__input {
    --input-height: 60px;
  }
}
@media (hover: hover) {
  .subscribe-form__input:hover {
    background-color: var(--color-gray);
  }
  .subscribe-form__input:hover::-moz-placeholder {
    color: var(--color-dark);
  }
  .subscribe-form__input:hover::placeholder {
    color: var(--color-dark);
  }
}
@media (hover: none) {
  .subscribe-form__input:active {
    background-color: var(--color-gray);
  }
  .subscribe-form__input:active::-moz-placeholder {
    color: var(--color-dark);
  }
  .subscribe-form__input:active::placeholder {
    color: var(--color-dark);
  }
}
.subscribe-form__input:focus {
  border-color: var(--color-dark);
  outline: none;
}
.subscribe-form__input::-moz-placeholder {
  font-size: clamp(12px, 1vw, 16px);
  color: var(--color-gray);
}
.subscribe-form__input::placeholder {
  font-size: clamp(12px, 1vw, 16px);
  color: var(--color-gray);
}
.subscribe-form__button {
  font-size: clamp(14px, 1.25vw, 20px);
  height: var(--input-height);
  padding-inline: 82px;
  font-weight: 500;
}
@media (max-width: 1023px) {
  .subscribe-form__button {
    --input-height: 60px;
    padding-inline: 56px;
  }
}
@media (max-width: 1023px) {
  .subscribe-form__button {
    padding-inline: 40px;
  }
}
@media (max-width: 480px) {
  .subscribe-form__button {
    width: 100%;
  }
}

.footer {
  padding-top: 165px;
  margin-bottom: 65px;
}
@media (max-width: 480px) {
  .footer {
    padding-top: 84px;
  }
}
.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 480px) {
  .footer__body {
    flex-direction: column;
    row-gap: 15px;
  }
}
.footer__body::before {
  position: absolute;
  top: -100%;
  left: auto;
  content: "";
  width: 100%;
  height: 2px;
  background-color: var(--color-gray-alt);
}
@media (max-width: 480px) {
  .footer__body::before {
    top: -35%;
  }
}
.footer__info-list {
  --columnGapFooterList: 25px;
  font-size: clamp(11px, 1.5vw, 24px);
  display: flex;
  -moz-column-gap: var(--columnGapFooterList);
       column-gap: var(--columnGapFooterList);
}
@media (max-width: 767px) {
  .footer__info-list {
    --columnGapFooterList: 20px;
  }
}
@media (max-width: 480px) {
  .footer__info-list {
    --columnGapFooterList: 11px;
  }
}
.footer__info-item {
  position: relative;
}
.footer__info-item:not(:last-child)::after {
  width: 6px;
  aspect-ratio: 1;
  content: "";
  position: absolute;
  top: 46%;
  left: calc(100% + 8px);
  background-color: currentColor;
  border-radius: 50%;
}
@media (max-width: 480px) {
  .footer__info-item:not(:last-child)::after {
    width: 4px;
    left: calc(100% + 4px);
  }
}
.footer__info-link {
  color: currentColor;
  display: inline-flex;
  align-items: center;
  height: 48px;
}
@media (hover: hover) {
  .footer__info-link:hover {
    opacity: 0.7;
  }
}
@media (hover: none) {
  .footer__info-link:active {
    opacity: 0.7;
  }
}/*# sourceMappingURL=styles.css.map */